<style>
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box div {
    width: 1600px;
    height: 600px;
    background-image: url('https://dhecking.github.io/adscape/adscape-1.jpg');
  }
</style>

<div class="box">
  <div></div>
</div>

{{output}}